.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

.content {
    max-width: 1200px;
    margin: auto;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1300px;
    }
}

.section {
    padding: 2rem 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

html {
    scroll-behavior: smooth;
}

.main-content {
    font-size: x-large;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

.card {
    margin-bottom: 15px;
}

.shadowed {
  -webkit-filter: drop-shadow(4px 4px 4px rgb(104, 104, 104));
  filter:         drop-shadow(4px 4px 4px rgb(104, 104, 104)); 
}

.fa_custom {
  color: dodgerblue;
}

.fade {
  margin: 50px;
  padding: 50px;
  background-color: lightgreen;
  opacity: 1;
}

.profile-picture {
  border-radius: 0%;
  vertical-align: middle;
  align-items: center;
}